<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form action="" method="POST" onsubmit="return confirm ('Bạn có chắc chắn muốn sửa không?')" >
    <table>
        <tr>
            <td> Product name:</td>
            <td> <input type="text" value="{name}" name="name_product"></td>
        </tr>
        <tr>
            <td> Price:</td>
            <td><input type="text" value="{price}" name="price"></td>
        </tr>
        <tr>
            <td> Image</td>
            <td><input type="text" name="editImage" id="editImage" ></td>
            <td><input type="file" id="fileButton" onchange="uploadImage(event)" required></td>
        </tr>
        <tr>
            <td>  Description:</td>
            <td> <input type="text" value="{description}" name="description" autocomplete="off"></td>
        </tr>
        <tr>
            <td> Category: </td>
            <td>
                <select name="id_category">
                    {category}
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</form>
<div id="imgDiv"></div>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script>
    // Initialize Firebase
    const firebaseConfig = {
        apiKey: "AIzaSyCJe0l2QrmIhsjsNI_hn-aKNF7oY0_ZnxE",
        authDomain: "crud-8adf5.firebaseapp.com",
        projectId: "crud-8adf5",
        storageBucket: "crud-8adf5.appspot.com",
        messagingSenderId: "405629308956",
        appId: "1:405629308956:web:0b272898ea071b59c34fd9",
        measurementId: "G-QJX462K990"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script type="text/javascript">
    function uploadImage(e) {
        let fbBucketName = 'images';
        let uploader = document.getElementById('uploader');
        let file = e.target.files[0];
        let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
        let uploadTask = storageRef.put(file);
        uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
            function (snapshot) {
                uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                switch (snapshot.state) {
                    case firebase.storage.TaskState.PAUSED:
                        break;
                    case firebase.storage.TaskState.RUNNING:
                        break;
                }
            }, function (error) {
                switch (error.code) {
                    case 'storage/unauthorized':
                        break;
                    case 'storage/canceled':
                        break;
                    case 'storage/unknown':
                        break;
                }
            }, function () {
                let downloadURL = uploadTask.snapshot.downloadURL;
                document.getElementById('imgDiv').innerHTML = `<img src="${downloadURL}" alt="">`
                // localStorage.setItem('image', downloadURL);
                // alert(downloadURL)
                document.getElementById('editImage').value = downloadURL
            });
    }
</script>

</body>
</html>